@font-face {
    font-family: "HelveticaNeueLTProLt";
    src: url("../fonts/HelveticaNeueLTProLt.otf") format("opentype");
}

@font-face {
    font-family: "HelveticaNeueLTPro Roman";
    src: url(…/fonts/HelveticaNeueLTProRoman.otf) format("opentype");
}

@font-face {
    font-family: "Merriweather-LightItalic";
    src: url(…/fonts/Merriweather-LightItalic.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat-Light";
    src: url(…/fonts/Montserrat-Light.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url(…/fonts/Montserrat-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url(…/fonts/Roboto-Regular.ttf) format("truetype");
}

/*
font-family: "HelveticaNeueLTPro Lt", sans-serif;
font-family: "HelveticaNeueLTPro Md", sans-serif;
font-family: "HelveticaNeueLTPro Roman", sans-serif;
font-family: "Merriweather-LightItalic", sans-serif;
font-family:"Montserrat-Light", sans-serif;
font-family: "Montserrat-Regular", sans-serif;
font-family: "Roboto-Regular", sans-serif;
*/
* {
    box-sizing: border-box;
}

/* для всех тегов используем border-box и обнуляем отступы у body*/
body {
    padding: 0;
    margin: 0;
}

.container {
    width: 1200px;
    padding: 0 15px;
    /*чтобы текст/контент не сливался с границей экрана*/
    margin: 0 auto;
    /*по центру*/

    /*border: 1px solid red; для отслеживания*/
}

.menu {
    /*обнуляем стили по умолчанию*/
    margin: 0;
    padding: 0;
    list-style: none;
    /*убираем точки*/
    display: flex;
    /*становится в строку*/
    justify-content: center;
    /*выравнивает по центру*/
    align-items: center;
    /*вертикальное выравнивание*/

}

.menu__item a {
    /*нужент тег .menu__item a . но не просто .menu__item*/
    font-family: "Roboto-Regular", sans-serif;
    font-size: 13px;
    line-height: 17px;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: #989696;
    text-decoration: none;
    margin-right: 43px;
}

.menu__item:last-child a {
    margin-right: 0;
}

.menu__mobile {
    display: none;
}

.active a {
    color: #010101;
}

.logo {
    margin: 0 16px;
}

.header__content {
    text-align: center;
}

.header__title {
    font-family: "HelveticaNeueLTProLt", sans-serif;
    font-size: 44px;
    line-height: 41px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #1d1e1f;
    padding-top: 207px;
    margin: 0 auto 4px;
}

.header__text {
    font-family: "Merriweather-LightItalic", serif;
    font-size: 16px;
    line-height: 17px;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0.03em;
    color: #898888;
    margin: 0 auto 43px;
}

.header__button {
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 13px;
    line-height: 17px;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: #000000;
    text-decoration: none;
    width: 188px;
    height: 57px;
    border: 1px solid #000000;
    display: flex;
    /*кнопка становиться по указанным размерам*/
    justify-content: center;
    align-items: center;
    margin: 0 auto 206px;
}

/*О нас*/
.about {
    height: 1129px;
    padding-top: 128px;
    padding-bottom: 271px;
    background: url(../img/buildings__white.png) center 100% repeat-x,
        url(../img/buildings__dark.png) center 100% repeat-x,
        #1d1d1d;
    /* background-size: contain; */
}

.about__inner {
    display: grid;
    grid-template-rows: max-content max-content;
    /*для того чтобы были 2 столбцов и строк и занимали макс размер*/
    grid-template-columns: max-content max-content;
    grid-gap: 178px;
    /*расстояние между ячейками сверху и снизу*/
    place-content: center center;
    /*горизонтально и верт выравнивает по центру*/

}

.about__item {
    width: 417px;
    height: 276px;
    background-color: #181818;
    text-align: center;
    /*чтобывыровнить текст по центру*/
    display: flex;
    flex-direction: column;
    /*чтобы 2 элемента шли друг под другом, но за счет флексов мы выравнием их по горизонтали и вертикали*/
    justify-content: center;
    align-items: center;
}

.about__year {
    font-family: "HelveticaNeueLTPro Lt", sans-serif;
    font-size: 48px;
    /*line-height: 26px;*/
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #fefefe;
    margin-bottom: 27px;
}

.about__text {
    font-family: "Montserrat-Light", sans-serif;
    font-size: 15px;
    line-height: 22px;
    font-weight: 300;
    letter-spacing: 0.02em;
    color: #b7b7b7;
}

.team {
    height: 745px;
}

.block__head {
    text-align: center;
}

.block__title {
    font-family: "HelveticaNeueLTPro Lt", sans-serif;
    font-size: 34px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #1d1e1f;
    padding-top: 138px;
    margin-bottom: 13px;
}

.block__text {
    font-family: Merriweather;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0.02em;
    color: #898888;
    margin: 0;
}

.team__inner {
    display: flex;
    justify-content: space-around;
    padding-top: 127px;
}

.team__item {
    text-align: center;
}

.team__item-img {
    margin-bottom: 29px;
}

.team__item-title {
    font-family: "HelveticaNeueLTPro Lt", sans-serif;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #d5d5d5;
    margin: 0;
    margin-bottom: 7px;
}

.team__item-text {
    font-family: "HelveticaNeueLTPro Lt", sans-serif;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #b3b3b3;
    margin: 0;
    margin-bottom: 21p;

}

.team__icon-box a {
    font-size: 20px;
    color: #e4e4e4;
    transition: 0.2s;
}

.team__icon-box a:hover {
    color: #b7b7b7;

}

/*Provide*/
.provide {
    background-color: #181818;
    padding-bottom: 155px;
}

.container {}

.block__head {}

.inverse .block__title {
    padding-top: 176px;
    color: #ffffff;
}

.inverse .block__text {
    color: #777777;
}

.provide__inner {
    display: flex;
    padding-top: 138px;
    justify-content: space-between;
}

.provide__item {
    text-align: center;
    max-width: 335px;
}

.provide__item i {
    color: #fff;
    font-size: 63px;
    width: 172px;
    height: 172px;
    border: 5px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 43px;

}

.icon-chart-line {}

.provide__item-title {
    font-family: "HelveticaNeueLTPro Lt", sans-serif;
    font-size: 34px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin: 0;
    margin-bottom: 31px;
}

.provide__item-text {
    font-family: "HelveticaNeueLTPro Lt", sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0.02em;
    color: #777777;
    margin: 0;
}

/*Форма*/
.contact {}

.contact .block__head .block__title {
    padding-top: 95px;
}

.block__title {}

.block__text {}

.contact__icon-box {
    display: flex;
    justify-content: space-between;
    max-width: 570px;
    margin: 0 auto;
    padding-top: 64px;
}

.contact__item {
    text-align: center;
    width: 130px;
}

.contact__item i {
    font-size: 21px;
    font-size: #323232;
}

.icon-phone {}

.contact__text {
    margin-bottom: 12px;
}

.contact__text a {
    font-family: "HelveticaNeueLTPro Lt", sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #898888;
    text-decoration: none;
    transition: 0.3s;
}

.contact__text a:hover {
    color: #474747;
    text-decoration: underline;
}

.icon-location-circled {}

.icon-mail {}

.contact__form {
    padding-top: 153px;
    display: flex;
    flex-direction: column;
    max-width: 770px;
    margin: 0 auto;
}

.contact__form input {
    height: 52px;
    padding: 20px;
    text-align: center;
    font-family: "HelveticaNeueLTPro Lt", sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #898888;
    border: 1px solid #999999;
}

.contact__name {
    margin-bottom: 20px;
}

.contact__email {
    margin-bottom: 20px;
}

.contact__number {
    margin-bottom: 18px;
}

/*убирает у импута справа стрелочки выбора*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}

.contact__textarea {
    padding: 22px;
    margin-bottom: 21px;
    height: 195px;
    resize: none;
    font-family: "HelveticaNeueLTPro Lt", sans-serif;
    font-size: 15px;
    line-height: 26px;
    /*line оставляем так как текст может быть на нескольких строках*/
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #898888;
    border: 1px solid #999999;
}

.contact__form .contact__button {
    cursor: pointer;
    padding: 0;
    outline: none;
    border: none;
    border: 1px solid #999999;
    background-color: #161616;
    font-family: "HelveticaNeueLTPro Md", sans-serif;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #fefefe;
}

.footer {
    padding-top: 154px;
}

.footer__text {
    text-align: center;
    font-family: "HelveticaNeueLTPro Lt", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #3b3b3b;
}

/*media for iPad*/
@media screen and (max-width: 769px) {
    .container {
        width: 768px;
    }

    .about {
        height: auto;
    }

    .about {
        height: auto;
        padding-bottom: 200px;
        background-position: center 102%, center 102%;
    }

    .about__inner {
        grid-gap: 10px;
        grid-template-columns: max-content;
        /*картинки в одну колонку.1.7 Делаем адаптивный дизайн для сайта
        */
    }

    .provide {
        padding-bottom: 100px;
    }

    .team .block__title,
    .provide .block__title {
        padding-top: 100px;
    }

    .provide__inner {
        flex-wrap: wrap;
        justify-content: center;
    }

    .provide__item {
        max-width: 300px;
        margin: 0 30px 40px;
    }

    .contact__form {
        padding-top: 100px;
    }

    .footer {
        padding-top: 30px;
    }
}

/*media for iPhoneX*/
@media screen and (max-width: 376px) {
    .container {
        width: 375px;
    }
    .logo{
        margin: 0 -15px;
    }
    .menu__desktop {
        display: none;
    }
  .menu__mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu {
        display: none;
    }
    .menu__burger{
        cursor: pointer;
        width: 30px;
        height: 3px;
        background-color: black;   
        position: relative;
    }
    .menu__burger::after{
        content: '';/*чтобы псевдокласс работал*/
        width: 30px;
        height: 3px;
        background-color: black;  
        position: absolute; 
        bottom: -10px;
     }
     .menu__burger::before{
        content: '';/*чтобы псевдокласс работал*/
        width: 30px;
        height: 3px;
        background-color: black;  
        position: absolute; 
        top: -10px;
     }
     .header__title {
        padding-top: 100px;
        margin-bottom: 30px;
    }
    .header__button{
        margin-bottom: 100px;
    }
    .about__item {
        width: 375px;
    }
    .team{
        height: auto;
        padding-bottom: 80px;
    }
    .team__inner{
          padding-top: 100px;
          flex-wrap: wrap;
    }
    .team__item{
        width: 340px
    }
    .provide__inner{
        padding-top: 100px;
    }
}